# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ---- Virtual Environment ----
venv/
env/
.venv/
.vas/

# ---- Django ----
db.sqlite3
media/
staticfiles/
*.log

# ---- Environment & Config ----
.env
*.env
env
.env.*
secrets.json

# ---- OS / IDE ----
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# ---- Build & Cache ----
*.egg-info/
*.egg
build/
dist/
.eggs/

# ---- Custom Scripts ----
start.sh

# ---- Misc ----
*.bak
*.tmp
*.tar
*.zip
