asgiref==3.8.1
certifi==2025.10.5
channels==4.2.2
channels_redis==4.2.1
charset-normalizer==3.4.4
click==8.2.0
cloudinary==1.44.1
crispy-bootstrap5==2025.4
Django==4.2
django-cloudinary-storage==0.3.0
django-crispy-forms==2.4
django-widget-tweaks==1.5.0
h11==0.16.0
idna==3.11
msgpack==1.1.0
pillow==11.2.1
python-dotenv==1.1.1
redis==6.0.0
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
uvicorn==0.34.2
websockets==15.0.1
whitenoise==6.9.0
